<webgame_api><popwan unionurl="http://union.popwan.com/webmasterreg/" apiurl="http://union.popwan.com" bbsname="动网先锋论坛" bbsurl="http://bbs.dvbbs.net" gamesite="http://u.popwan.com/xiao/" pluginversion="ASP 1.1 For DVBBS 8.2" addtime="" joined="1" key="a4283361a9fe0d0a12eb5c8c974eaca6" siteid="2046"/><masterselgames><game/></masterselgames></webgame_api>
