<?xml version="1.0" encoding="Gb2312"?>
<index><newjoinboker lasttime="2010-3-12 11:33:58">
		<rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" userid="8724" username="牛头" nickname="牛头" bokename="niutou" boketitle="牛头"/>
			<z:row xmlns:z="#RowsetSchema" userid="8723" username="test221" nickname="test221" bokename="test221" boketitle="test221
的博客
"/>
			<z:row xmlns:z="#RowsetSchema" userid="1" username="admin" nickname="admin" bokename="administrator" boketitle="admin
的博客
"/>
		</rs:data>
	</newjoinboker><hotboker lasttime="2010-3-12 11:33:58">
		<rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" userid="8723" username="test221" nickname="test221" bokename="test221" boketitle="test221
的博客
" joinboketime="2009-9-27 14:06:46"/>
			<z:row xmlns:z="#RowsetSchema" userid="8724" username="牛头" nickname="牛头" bokename="niutou" boketitle="牛头" joinboketime="2009-10-10 9:45:04"/>
			<z:row xmlns:z="#RowsetSchema" userid="1" username="admin" nickname="admin" bokename="administrator" boketitle="admin
的博客
" joinboketime="2007-3-16 9:52:14"/>
		</rs:data>
	</hotboker><topiclist lasttime="2010-3-12 11:33:58">
		<rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" topicid="3" catid="2" scatid="19" userid="8724" username="牛头" title="asdfasdfasdf" posttime="2009-10-22 9:54:45" child="0" hits="0" isview="0" islock="0" stype="0" lastposttime="2009-10-22 9:54:45" isbest="0"/>
			<z:row xmlns:z="#RowsetSchema" topicid="2" catid="1" scatid="17" userid="8723" username="test221" title="12222222222222222" posttime="2009-9-27 15:03:28" child="2" hits="12" isview="0" islock="0" stype="0" lastposttime="2009-10-22 10:13:15" isbest="0"/>
			<z:row xmlns:z="#RowsetSchema" topicid="1" catid="1" scatid="17" userid="8723" username="test221" title="阿发生的法" posttime="2009-9-27 15:03:09" child="0" hits="5" isview="0" islock="0" stype="0" lastposttime="2009-9-27 15:03:09" isbest="0"/>
		</rs:data>
	</topiclist><postlist lasttime="2010-3-12 11:33:58">
		<rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" postid="5" bokeuserid="8723" catid="1" scatid="17" parentid="2" rootid="2" userid="8724" username="牛头" title="asdf" content="asdfasdfasdfasd" jointime="2009-10-22 10:13:15"/>
			<z:row xmlns:z="#RowsetSchema" postid="3" bokeuserid="8723" catid="1" scatid="17" parentid="2" rootid="2" userid="8724" username="牛头" title="asdf" content="sadfasdfasdasdfasdfasdfasd" jointime="2009-10-14 15:03:51"/>
		</rs:data>
	</postlist><newphotos lasttime="2010-3-12 11:33:58">
	</newphotos><upboker lasttime="2010-3-12 11:33:58">
		<rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" userid="8723" username="test221" nickname="test221" bokename="test221" boketitle="test221
的博客
" bokechildtitle="
我很懒，什么也没留下
" joinboketime="2009-9-27 14:06:46" pageview="0" topicnum="2" favnum="0" photonum="0" postnum="2" todaynum="1" trackbacks="0" syscatid="1" lastuptime="2009-10-22 10:13:15" skinid="1"/>
			<z:row xmlns:z="#RowsetSchema" userid="8724" username="牛头" nickname="牛头" bokename="niutou" boketitle="牛头" bokechildtitle="牛头" joinboketime="2009-10-10 9:45:04" pageview="0" topicnum="1" favnum="0" photonum="0" postnum="0" todaynum="1" trackbacks="0" syscatid="1" lastuptime="2009-10-22 9:54:46" skinid="1"/>
			<z:row xmlns:z="#RowsetSchema" userid="1" username="admin" nickname="admin" bokename="administrator" boketitle="admin
的博客
" bokechildtitle="
我很懒，什么也没留下
" joinboketime="2007-3-16 9:52:14" pageview="0" topicnum="0" favnum="0" photonum="0" postnum="0" todaynum="0" trackbacks="0" syscatid="1" lastuptime="2007-6-15 18:34:49" skinid="1"/>
		</rs:data>
	</upboker><weektopiclist lasttime="2010-3-12 11:33:58">
	</weektopiclist><linklist lasttime="2010-3-12 11:33:58">
	</linklist></index>
